@import url('http://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

main{
    width : 100%;
}

#index{
    width : 100%;
    height : 100%;
    overflow: hidden;
    padding : 50px 0;
    background : linear-gradient(180deg, #28363d);
}

/* ====================================== */
.square{
    width : 400px;
    height: 400px;
    margin : 0 auto;
    position : relative;
}


.square>span{
    width : 100%;
    height : 100%;
    position : absolute;
}

.square>span:nth-child(1){
    border-radius: 40% 30% 55% 60%/30% 50% 60% 40%;
    animation : circle 9s linear infinite;
    border : 1px solid #f8b195;
}

.square>span:nth-child(2){
    border-radius: 40% 30% 55% 60%/30% 50% 60% 40%;
    border : 1px solid #f67280;
    animation : circle 6s linear infinite;
}

.square>span:nth-child(3){
    border-radius: 40% 30% 55% 60%/30% 50% 60% 40%;
    animation : circle 8s linear infinite;
    animation-direction: reverse;
    border : 1px solid #c06c84;
}

.square:hover >span:nth-child(1){
    background : #f7987f;
    border : 0;
    opacity : 30%;
}

.square:hover >span:nth-child(2){
    background : #f7af7e;
    border : 0;
    opacity : 40%;
}

.square:hover >span:nth-child(3){
    background : #fb877e;
    border : 0;
    opacity : 20%;
}

.square:hover .text-box{
    color : #fff;
}

.square:hover .more a{
    color : #fff;
}

.square:hover .fa{
    display : none;
}


.square .text-box{
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    /* color : #fff; */
    color : #222;
}

.square .text-box h2{
    display : flex;
    justify-content: center;
    padding : 10px;
    text-shadow: 0 0 10px #dee1dd;
}

.square .text-box p{
    font-size: 12px;
    display : block;
    margin : 20px auto;
    text-align: center;
}

/* ======================================== */
.more{
    padding-top : 40px;
    padding-bottom : 10px;
    position: relative;
}

.more a{
    /* color : #fff; */
    color : #333;
    display : inline-block;
    width : 100%;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    position: relative;
}

.more a span{
    display : block;
    position : absolute;
    width: 100%;
    height: 100%;
    transition : 0.3s;
}

.more span:nth-child(1){
    top : 0;
}

.more span:nth-child(2){
    top : 100%;
}

.more a:hover span:nth-child(1){
    top : -100%;
}

.more a:hover span:nth-child(2){
    top : 0;
}

/* ============================================== */

#menu{
    width : 900px;
    height: 30px;
    margin : 0 auto;
    padding : 30px;
}

#menu .menu-list a{
    color : #222;
    width : 100px;
    text-align: center;
    font-size: 13px;
    padding : 5px;
    display : inline-block;
    border-radius: 3px;
}

.menu-list ul{
    display : flex;
    justify-content: space-evenly;
}

/* =================aboutme================ */
#aboutme{
    overflow: hidden;
}
.gallery{
    list-style: none;
    padding :0;
    margin : 0;
    display : flex;
    height: 100vh;
}

.gallery li{
    border-right : 1px solid #eee;
    flex : 1;
    transition: 0.3s;
    position : relative;
    overflow: hidden;
}

.gallery li:last-child{
    border-right : none;
}

.gallery li:nth-of-type(1){
    background: url(../images/flex05.jpg) no-repeat center center;
}

.gallery li:nth-of-type(2){
    background: url(../images/flex05.jpg) no-repeat center center;
}

.gallery li:nth-of-type(3){
    background: url(../images/flex05.jpg) no-repeat center center;
}

.gallery:hover li{
    flex : 1;
}

.gallery li:hover{
    flex : 3;
    filter : grayscale(1);
}

.content{
    width : 100%;
    position : absolute;
    background : #000;
    color : #fff;
    text-align: center;
    bottom : -400px;
    height : 300px;
    transition : 0.3s;
    padding : 50px;
    box-sizing: border-box;
}


.gallery li:hover .content{
    bottom : 0;
    transition-delay : 0.3s;
}

.sns a{
    color : #fff;
    border : 1px solid #fff;
    width: 30px;
    height: 30px;
    display : inline-flex;
    justify-content: center;
    align-items: center;
    margin : 5px;
    border-radius: 50%;
}

.sns a:hover .fa{
    animation : ani 0.5s linear;
}

@keyframes ani{
    0%{
        transform : rotateX(0);
    }
    100%{
        transform : rotateX(360deg);
    }
}

@keyframes circle {
    0%{
        transform: rotate(0);
    }
    100%{
        transform : rotate(360deg);
    }

}

@keyframes spin {
    0%{
        transform : rotate(0)

    }
    100%{
        transform : rotate(360deg);
    }
}


@media (max-width : 1300px) {
    #index{
        width : auto;
        float : none;
    }
    #menu{
        width : auto;
        float : none;
    }
    #aboutme{
        width : auto;
        float : none;
    }
}